<div class="modal-header">
  <h4 class="modal-title">{{title()}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-group">
    <input [(ngModel)]="entity.firstName" class="form-control" placeholder="Vorname" id="firstName" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="entity.lastName" class="form-control" placeholder="Nachname" id="lastName" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="entity.joined" class="form-control" placeholder="Beitritt" id="joined" type="number">
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input [(ngModel)]="entity.active" class="custom-control-input" id="active" type="checkbox">
      <label class="custom-control-label" for="active">Aktiv</label>
    </div>
  </div>

  <div class="form-group">
      <select class="custom-select" [(ngModel)]="entity.instrumentId">
        <option *ngFor="let instrument of instruments" [value]="instrument.id">{{instrument.name}}</option>
      </select>
  </div>

  <div *ngIf="edit" class="input-group mb-3">
    <div class="custom-file">
      <input class="custom-file-input" id="inputGroupFile02" type="file" (change)="memberPictureChange($event)">
      <label class="custom-file-label input-group-append" for="inputGroupFile02">{{currentFileName}}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="entity.birthday" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success" (click)="add()">{{ okText() }}</button>
    <button type="button" class="btn btn-warning" (click)="reset()">Zurücksetzen</button>
    <button type="button" class="btn btn-danger" (click)="close()">Abbrechen</button>
  </div>
</div>
