<div class="modal-header">
  <h4 class="modal-title">Einstellungen</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input class="custom-file-input" id="titleFile" type="file" (change)="titleChange($event)">
        <label class="custom-file-label" for="titleFile">Titelbild</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <ngb-progressbar *ngIf="titleProgress" [striped]="true" [animated]="titleProgress !== 100" [showValue]="true"
                     type="primary" [value]="titleProgress"></ngb-progressbar>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input class="custom-file-input" id="defaultTitleFile" type="file" (change)="titleChange($event)">
        <label class="custom-file-label" for="defaultTitleFile">Standardtitelbild</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <ngb-progressbar *ngIf="defaultTitleProgress" [striped]="true" [animated]="defaultTitleProgress !== 100"
                     [showValue]="true" type="primary" [value]="defaultTitleProgress"></ngb-progressbar>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input [(ngModel)]="isDefault" class="custom-control-input" id="isDefault" type="checkbox">
      <label class="custom-control-label" for="isDefault">Standardtitelbild verwenden</label>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.close()">Abbrechen</button>
  <button class="btn btn-primary" (click)="save()">Speichern</button>
</div>
