<table class="table table-hover table-striped">
  <thead>
  <tr>
    <td><button class="btn btn-success" (click)="add()"><b>+</b></button></td>
    <td>Mitglied</td>
    <td>Funktion</td>
    <td>Priorität</td>
    <td>ID</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let leader of items">
    <td><a (click)="edit(leader)">Bearbeiten</a></td>
    <td>{{leader.member.firstName + ' ' + leader.member.lastName}}</td>
    <td>{{leader.leaderRole.name}}</td>
    <td>{{leader.priority}}</td>
    <td>{{leader.id}}</td>
  </tr>
  </tbody>
</table>
