<div class="modal-header">
  <h4 class="modal-title">{{title()}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <input [(ngModel)]="entity.title" class="form-control" placeholder="Titel" id="title" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.style" class="form-control" placeholder="Stilrichtung" id="style" type="text"
           [ngbTypeahead]="searchStyle">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.level" class="form-control" placeholder="Stufe" id="level" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.composer" class="form-control" placeholder="Komponist" id="composer" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.arranger" class="form-control" placeholder="Arrangeur" id="arranger" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.publisher" class="form-control" placeholder="Verlag" id="publisher" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.subtitles" class="form-control" placeholder="Untertitel" id="subtitles" type="text">
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input [(ngModel)]="entity.score" class="custom-control-input" id="score" type="checkbox">
      <label class="custom-control-label" for="score">Partitur</label>
    </div>
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.location" class="form-control" placeholder="Aufbewahrung" id="location" type="text">
  </div>
  <div class="form-group">
    <input [(ngModel)]="entity.note" class="form-control" placeholder="Notiz" id="note" type="text">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="reset()" tabindex="3">Zurücksetzen</button>
  <button type="button" class="btn btn-danger" (click)="close()" tabindex="2">Abbrechen</button>
  <button type="button" class="btn btn-success" (click)="add()" tabindex="1">{{ okText() }}</button>
</div>
