<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">
    <img src="assets/icons/mvl-raw.png" style="max-height: 19pt">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="members">Mitglieder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="events">Termine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="leaders">Vorstand</a>
      </li>
      <li class="nav-item" *ngIf="userInfo() == null">
        <a class="nav-link" (click)="showLogin()">Login</a>
      </li>
      <li class="nav-item" *ngIf="userInfo() != null">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownMember" ngbDropdownToggle>{{userInfo().member.firstName}}
            {{userInfo().member.lastName}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownMember">
            <button class="dropdown-item" (click)="lo()">Logout</button>
            <button class="dropdown-item" (click)="changePassword()">Passwort ändern</button>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="userInfo() && userInfo().roles.length > 0">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownManagement" ngbDropdownToggle>Verwaltung</a>
          <div ngbDropdownMenu aria-labelledby="dropdownManagement">
            <button *ngIf="utils.hasRole('member')" class="dropdown-item" routerLink="member-management">Mitglieder
            </button>
            <button *ngIf="utils.hasRole('leader')" class="dropdown-item" routerLink="leader-role-management">
              Vorstandsfunktionen
            </button>
            <button *ngIf="utils.hasRole('leader')" class="dropdown-item" routerLink="leader-management">Vorstand
            </button>
            <button *ngIf="utils.hasRole('event')" class="dropdown-item" routerLink="event-management">Termine</button>
            <button *ngIf="utils.hasRole('instrument')" class="dropdown-item" routerLink="instrument-management">
              Instrumente
            </button>
            <button *ngIf="utils.hasRole('root')" class="dropdown-item" routerLink="role-management">Rollen</button>
            <button *ngIf="utils.hasRole('root')" class="dropdown-item" routerLink="role-member-management">Rollen
              Mitglieder
            </button>
            <button *ngIf="utils.hasRole('preferences')" class="dropdown-item" (click)="preferences()">Einstellungen
            </button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="impressum">Impressum</a>
      </li>
    </ul>
  </div>
</nav>
