<nav class="" [class]="'navbar navbar-expand-lg ' + (utils.hasRole('root')? 'navbar-light bg-light' : 'navbar-dark bg-primary')">
  <a (click)="active = ''" class="navbar-brand" routerLink="home">
    <img [src]="utils.hasRole('root')? 'assets/icons/mvl-raw-blue.png' : 'assets/icons/mvl-raw.png'" style="max-height: 19pt">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class]="classes('members')">
        <a class="nav-link" (click)="active = 'members'" routerLink="members">Mitglieder</a>
      </li>
      <li class="nav-item" [class]="classes('events')">
        <a class="nav-link" (click)="active = 'events'" routerLink="events">Termine</a>
      </li>
      <li class="nav-item" [class]="classes('leaders')">
        <a class="nav-link" (click)="active = 'leaders'" routerLink="leaders">Vorstand</a>
      </li>
      <li class="nav-item" *ngIf="userInfo() == null">
        <a class="nav-link" (click)="showLogin()">Login</a>
      </li>
      <li class="nav-item" *ngIf="userInfo() != null">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownMember" ngbDropdownToggle>{{userInfo().member.firstName}}
            {{userInfo().member.lastName}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownMember">
            <button class="dropdown-item" (click)="lo()">Logout</button>
            <button class="dropdown-item" (click)="changePassword()">Passwort ändern</button>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="userInfo() && userInfo().roles.length > 0" [class]="classes('management')">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="dropdownManagement" ngbDropdownToggle>Verwaltung</a>
          <div ngbDropdownMenu aria-labelledby="dropdownManagement">
            <button *ngIf="utils.hasRole('event')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="event-management">Termine
            </button>
            <button *ngIf="utils.hasRole('member')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="member-management">Mitglieder
            </button>
            <button *ngIf="utils.hasRole('leader')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="leader-management">Vorstand
            </button>

            <button *ngIf="utils.hasRole('archive')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="archive">Archiv
            </button>

            <button *ngIf="utils.hasRole('root')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="role-member-management">Rollen
              Mitglieder
            </button>
            <button *ngIf="utils.hasRole('instrument')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="instrument-management">
              Instrumente
            </button>

            <button *ngIf="utils.hasRole('leader')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="leader-role-management">
              Vorstandsfunktionen
            </button>
            <button *ngIf="utils.hasRole('root')" class="dropdown-item" (click)="active = 'management'"
                    routerLink="role-management">Rollen
            </button>
            <div class="dropdown-divider"></div>
            <button *ngIf="utils.hasRole('preferences')" class="dropdown-item" (click)="preferences()">Einstellungen
            </button>
          </div>
        </div>
      </li>
      <li class="nav-item" [class]="classes('impressum')">
        <a class="nav-link" (click)="active = 'impressum'" routerLink="impressum">Impressum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" [href]="service.libraryUrl">Bibliothek</a>
      </li>
    </ul>
  </div>
</nav>
