<div class="table-responsive">
  <table class="table-sm table table-hover table-striped">
    <thead>
    <tr>
      <th>
        <button class="btn-sm btn-success" (click)="add()">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </th>
      <th>Mitglied</th>
      <th>Funktion</th>
      <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of items">
      <td>
        <div class="btn-toolbar">
          <button class="btn-sm btn-secondary mr-2" (click)="edit(role)">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn-sm btn-danger mr-2" (click)="deleteItem(role)">
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </button>
        </div>
      </td>
      <td>{{role.member ? role.member.firstName + ' ' + role.member.lastName : '-'}}</td>
      <td>{{role.role ? role.role.name : '-'}}</td>
      <td>{{role.id}}</td>
    </tr>
    </tbody>
  </table>
</div>
