<table class="table table-hover table-striped">
  <thead>
  <tr>
    <td><button class="btn btn-success" (click)="add()"><b>+</b></button></td>
    <td>Mitglied</td>
    <td>Funktion</td>
    <td>ID</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let role of items">
    <td><a (click)="edit(role)">Bearbeiten</a></td>
    <td>{{role.member ? role.member.firstName + ' ' + role.member.lastName : '-'}}</td>
    <td>{{role.role ? role.role.name : '-'}}</td>
    <td>{{role.id}}</td>
  </tr>
  </tbody>
</table>
