<div class="main-container">
  <app-menu></app-menu>
  <ngb-alert class="mt-2 ml-2 d-inline-block" type="info" (close)="close()" *ngIf="!isClosed()">Der Login ist
    abgelaufen.
  </ngb-alert>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="container text-muted">
      <div class="row mt-2">
        <div class="col-md-6">
          <span><strong>Links</strong></span>
          <ul class="list-unstyled">
            <li>
              <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;<a href="https://github.com/mvl-at">GitHub</a></li>
            <li>
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>&nbsp;<a href="https://github.com/mvl-at">Facebook</a>
            </li>
            <li>
              <fa-icon [icon]="['fas', 'balance-scale']"></fa-icon>&nbsp;<a (click)="showLicense()">Lizenz</a>
            </li>
            <li>
              <fa-icon [icon]="['fas', 'toolbox']"></fa-icon>&nbsp;<a (click)="showResources()">Resourcen</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <span><strong>Impressum</strong></span>
          <ul class="list-unstyled">
            <li>
              <fa-icon [icon]="['fas', 'phone']"></fa-icon>
              +43 2216 3160
            </li>
            <li>
              <fa-icon [icon]="['fas', 'home']"></fa-icon>
              Kempfendorf 2, A-2285 Leopoldsdorf i.M.
            </li>
            <li>
              <fa-icon [icon]="['fas', 'at']"></fa-icon>&nbsp;<a href="mailto:obmann@mvl.at">obmann@mvl.at</a></li>
          </ul>
        </div>
      </div>
      <hr/>
      <h5 class="d-inline">© 2018—{{year}} Musikverein Leopoldsdorf</h5>
      <img src="/assets/icons/mvl-footer.svg" class="m-3">
    </div>
  </footer>
</div>
