html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 30em; /* height of your footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer > div > div > div > ul > li > a {
  text-decoration: underline;
  color: inherit;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.list-unstyled > li > fa-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
