<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><button class="btn btn-success" (click)="add()"><b>+</b></button></th>
    <th>Name</th>
    <th>Beitritt</th>
    <th>Instrument</th>
    <th>Aktiv</th>
    <th>Benutzername</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of items">
    <td><span><a (click)="edit(member)">Bearbeiten</a></span> <span><a (click)="changePassword(member)">Passwort ändern</a></span> <span><a (click)="delete(member)">Löschen</a></span></td>
    <td>{{member.firstName + ' ' + member.lastName}}</td>
    <td>{{member.joined}}</td>
    <td>{{member.instrument ? member.instrument.name : '-'}}</td>
    <td>{{member.active}}</td>
    <td>{{member.username}}</td>
    <td>{{member.id}}</td>
  </tr>
  </tbody>
</table>
