<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><button class="btn-sm btn-success" (click)="add()"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button></th>
    <th>Name</th>
    <th>Beitritt</th>
    <th>Instrument</th>
    <th>Aktiv</th>
    <th>Benutzername</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of items">
    <td>
      <div class="btn-toolbar">
        <button class="btn-sm btn-secondary mr-2" (click)="edit(member)">
          <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
        </button>
        <button class="btn-sm btn-secondary mr-2" (click)="changePassword(member)">
          <fa-icon [icon]="['fas', 'lock']"></fa-icon>
        </button>
        <button class="btn-sm btn-danger mr-2" (click)="delete-item(member)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </button>
      </div>
    </td>
    <td>{{member.firstName + ' ' + member.lastName}}</td>
    <td>{{member.joined}}</td>
    <td>{{member.instrument ? member.instrument.name : '-'}}</td>
    <td>{{member.active}}</td>
    <td>{{member.username}}</td>
    <td>{{member.id}}</td>
  </tr>
  </tbody>
</table>
