<div class="modal-header">
  <h4 class="modal-title">Passwort von {{member.firstName}} {{member.lastName}} ändern</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group mb-3" *ngIf="userInfo().roles.find()">
      <input [(ngModel)]="username" class="form-control" placeholder="Benutzername" id="inputUsername"
             type="text" [class.is-invalid]="password1 != password2"
             [class.is-valid]="password1 && password1 === password2 && password1.length > 0">
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="password1" class="form-control" placeholder="Passwort" id="inputPassword1"
             type="password" [class.is-invalid]="!passwordOk()"
             [class.is-valid]="passwordOk() && password1.length > 0">
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="password2" class="form-control rounded-right" placeholder="Passwort widerholen"
             id="inputPassword2"
             type="password" [class.is-invalid]="!passwordOk()"
             [class.is-valid]="passwordOk() && password1.length > 0">
      <div class="invalid-feedback">Passwörter stimmen nicht überein.</div>
    </div>
    <div class="input-group">
      <input type="button" class="btn btn-primary btn-block" (click)="ok()" value="OK">
    </div>
  </div>
</div>
