<div class="modal-header">
  <h4 class="modal-title">Passwort von {{member.firstName}} {{member.lastName}} ändern</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group mb-3" *ngIf="utils.hasRole('credentials')">
        <input [(ngModel)]="member.username" class="form-control" placeholder="Benutzername" id="inputUsername"
               type="text">
      </div>
    </div>
    <div class="custom-control custom-checkbox" *ngIf="utils.hasRole('credentials')">
      <input [(ngModel)]="changePassword" class="custom-control-input" placeholder="Benutzername" id="changePassword"
             type="checkbox">
      <label class="custom-control-label" for="changePassword">Passwort ändern</label>
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="password1" class="form-control" placeholder="Passwort" id="inputPassword1"
             type="password" [disabled]="!changePassword" [class.is-invalid]="!passwordOk() && changePassword"
             [class.is-valid]="passwordOk() && password1.length > 0 && changePassword">
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="password2" class="form-control rounded-right" placeholder="Passwort wiederholen"
             id="inputPassword2"
             type="password" [disabled]="!changePassword" [class.is-invalid]="!passwordOk() && changePassword"
             [class.is-valid]="passwordOk() && password1.length > 0 && changePassword">
      <div class="invalid-feedback">Passwörter stimmen nicht überein.</div>
    </div>
    <div class="input-group">
      <input type="button" class="btn btn-primary btn-block" (click)="ok()" value="OK">
    </div>
  </div>
</div>
