<div>
  <div class="well" style="display:flex; align-items: center">
    <div>
      <img class="img-circle img-thumbnail img-responsive" style="height: 8em"
           [src]="service.getMemberPicture(member.id.toString())" onError="this.src='/assets/avatar.png';"/>
    </div>
    <div style="height: auto">
      <ul style="vertical-align: middle; list-style: none">
        <li><strong>{{member.firstName}} {{member.lastName}}</strong></li>
        <li *ngIf="leader === null || leader === undefined">Beitritt {{member.joined}}</li>
        <li *ngIf="leader !== null && leader !== undefined">{{leader.leaderRole.name}}</li>
      </ul>
    </div>
  </div>
</div>
