<div class="modal-header">
  <h4 class="modal-title">{{title()}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-group">
    <input [(ngModel)]="entity.id" class="form-control" placeholder="ID" id="id" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="entity.name" class="form-control" placeholder="Name" id="name" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="entity.namePlural" class="form-control" placeholder="Name Plural" id="namePlural" type="text">
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="reset()" tabindex="3">Zurücksetzen</button>
  <button type="button" class="btn btn-danger" (click)="close()" tabindex="2">Abbrechen</button>
  <button type="button" class="btn btn-success" (click)="add()" tabindex="1">{{ okText() }}</button>
</div>
