<div *ngFor="let instrument of instruments">
  <div class="container-fluid mt-3">
    <h2>{{ membersByInstrument(instrument).length > 1 ? instrument.namePlural : instrument.name}}</h2>
    <div class="row">
      <div class="col-xs-4 ml-5 mt-3" *ngFor="let member of membersByInstrument(instrument)">
        <div class="well" style="display:flex; align-items: center">
          <div>
            <img class="img-circle img-thumbnail img-responsive" style="height: 8em"
                 src="http://www.mvl.at/bilder/mitglieder/wilher.jpg"/>
          </div>
          <div style="height: auto">
            <ul style="vertical-align: middle; list-style: none">
              <li><strong>{{member.firstName}} {{member.lastName}}</strong></li>
              <li>Beitritt {{member.joined}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
